PUBLIC_WEBSITE_DOMAIN=youth4paws.org
PUBLIC_PLAUSIBLE_DOMAIN=stats.youth4paws.org
PUBLIC_VIKUNJA_DOMAIN=kanban.youth4paws.org
PUBLIC_NEXTCLOUD_DOMAIN=cloud.youth4paws.org

AUTHENTIK_URL=https://auth.youth4paws.org/application/o/website/
AUTHENTIK_CLIENT_ID=123
AUTHENTIK_CLIENT_SECRET=456

NOTION_DATABASE=123
NOTION_TOKEN=456

POSTGRES_USERNAME=paws
POSTGRES_PASSWORD=paws
POSTGRES_DATABASE=paws
POSTGRES_URL="postgresql://paws@localhost/paws?host=/srv/paws/postgres.sock"

JWT_SECRET=VERY_LONG_SECRET