$gapTiny: .25em;
$gapSmaller: .5em;
$gapSmall: 1em;
$gap: 2em;
$gapLarge: 4em;

$fontSize: 1.2rem;
$fontWeight: 400;
$fontWeightBold: 800;

$fontSizeTitle: 2.5rem;
$fontWeightTitle: 800;

$fontSizeSubtitle: 2rem;
$fontWeightSubtitle: 800;

$fontSizeSubsubtitle: 1.7rem;
$fontWeightSubsubtitle: 800;