$gapTiny: .25em;
$gapSmaller: .5em;
$gapSmall: 1.2em;
$gap: 2em;
$gapLarge: 6em;

$fontSize: 1.2rem;
$fontLineHeight: 1.5;
$fontWeight: 400;
$fontWeightBold: 800;

// <h1> <h2> <h3> <...>
$fontSizesTitle: 2.5rem, 1.8rem, 1.5rem 1.2rem;
$fontWeightsTitle: 800, 700, 600, 500;

$borderRadius: 2em;

$buttonHeight: 2em;

$borderWidth: .2em;