$gapTiny: .25em;
$gapSmaller: .5em;
$gapSmall: 1em;
$gap: 2em;
$gapLarge: 4em;

$fontSize: 1.2rem;
$fontLineHeight: 1.3;
$fontWeight: 400;
$fontWeightBold: 800;

// <h1> <h2> <h3> <...>
$fontSizesTitle: 2.5rem, 2rem, 1.7rem 1.2rem;
$fontWeightsTitle: 400, 400, 400, 400;

$borderRadius: 2em;